@import "styles/scss/library.scss";
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $base-font;
}

.primary-color-bg {
    background-color: $primary-color;
}

.primary-color {
    color: $primary-color;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.mega-menu-custom {
    list-style: none;
}

.signout {
    color: $brand-white;
}

.float-right {
    float: right;
}

a {
    color: $dark-grey;
}

a:hover {
    color: $hover-color;
    text-decoration: none;
}

table {
    border: 1px solid $hover-color;
    width: 100%;
}

th {
    background: $brand-white;
    font-weight: bold;
    padding: 2px;
}

.text-align-center {
    text-align: center;
}

.form .bill-calc {
    padding: 0px;
}
